<h2>My Heroes</h2>
<ul class="heroes">
	<!-- O *ngFor é a diretiva de repetidor do Angular. Ele repete o elemento host para cada elemento em uma lista. -->
	<!-- 
			<li> = É o elemento hospedeiro.
			heroes = Contém a lista de heróis simulados da HeroesComponentclasse, a lista de heróis simulados.
			hero =	Mantém o objeto herói atual para cada iteração na lista. 
	-->
	<li *ngFor="let hero of heroes">
		<!-- (click) = diz ao Angular para ouvir o evento <button> do elemento click. 
			Quando o usuário clica no <button>, o Angular executa o metodo "onSelect(hero)" mandando o hero para ele 
			Esse metodo é definido no "heroes.component.ts"
			-->
			<!-- Quando o herói da linha atual é o mesmo que o selectedHero, 
				o Angular adiciona a selectedclasse CSS. 
				Quando os dois heróis são diferentes, Angular remove a classe. -->
    <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!-- Faz a referencia com o componente hero-detail e ainda manda uma propriedade para esse componente  -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>